rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

		// Allow users authenticated with their email adress to write and read 
    // data to their respective collections.
    match /{userEmail}/{document=**} {
      allow read, write: if request.auth.token.email == userEmail
    }
  }
}